@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.jq-ry-container {
    padding: 0 !important;
}

input:focus {
    outline: none !important;
}

.nav-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
    transition: width .3s;
}

/* Hide the scrollbar but allow scrolling for Webkit-based browsers */
.secondary-images-container::-webkit-scrollbar,
.form-container::-webkit-scrollbar {
    width: 0;
}

.size-active {
    background: #000000 !important;
    color: #FFFFFF !important;
}

body {
    overflow-x: hidden;
}

.signup-error-list li,
.login-error-list li {
    list-style: disc;
}